@use "sass:color";

.sidebar-nav-button--button {
  width: 100%;
  height: 3rem;
  border-radius: 0;
}

.sidebar-nav-button--button-active {
  background-color: color-mix(in srgb, var(--orange), transparent 60%);
}
