.select--wrapper {
  .select--label {
    color: var(--label-foreground);
    font-family: var(--typography-label-font-family);
    font-size: var(--typography-label-font-size);
    margin-bottom: 0.25rem;
    text-transform: uppercase;
  }

  .select--field {
    background-color: var(--input-background);
    color: var(--input-foreground);
    font-family: var(--typography-input-font-family);
    font-size: var(--typography-input-font-size);
    max-width: var(--input-max-width);
    border: none;
  }
}
