.checkbox-wrapper {
  .checkbox-label {
    color: var(--input-foreground);
    font-family: var(--typography-label-font-family);
    font-size: var(--typography-label-font-size);
    margin-left: 0.5rem;
  }

  .checkbox:not(:checked) {
    width: 24px;
    height: 24px;
    background-color: var(--input-background);
    border: none;
  }

  .checkbox:checked {
    width: 24px;
    height: 24px;
    background-color: var(--input-background);
    border: none;
  }
}
