@use "~/theme" as theme;
@use "sass:map";

.checkbox-wrapper {
  .checkbox-label {
    color: map.get(theme.$theme, palette, input-foreground);
    font-family: map.get(theme.$theme, palette, input-label-font-family);
    font-size: map.get(theme.$theme, palette, input-label-font-size);
    margin-left: 0.5rem;
  }

  .checkbox {
    // TODO: Fix checkbox styling to match theme
    width: 24px;
    height: 24px;
    background-color: map.get(theme.$theme, palette, input, background);
    border: none;
  }
}
