@use "sass:map";

@use "~/theme" as theme;

.popup--container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background: map.get(theme.$theme, palette, background);
  color: map.get(theme.$theme, palette, foreground);
}

.popup--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 12px;

  h1 {
    margin: 0;
    font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #4285f4;
  }
}
