.switch--wrapper {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  .switch--input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

// unchecked state
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-background);
  transition: 0.3s;
  border-radius: 20px;

  // toggle indicator
  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--switch-foreground);
    transition: 0.3s;
    border-radius: 50%;
  }
}

// checked state
input:checked + .switch-slider {
  background-color: var(--switch-checked-background);

  // toggle indicator
  &:before {
    background-color: var(--switch-checked-foreground);
    transition: 0.3s;
  }
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .switch-slider:before {
  transform: translateX(20px);
}

.switch-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
