$transition-duration: 0.2s;

.switch--wrapper {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;

  .switch--input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

// unchecked state
.switch--slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-background);
  transition: $transition-duration;
  border-radius: 20px;

  // toggle indicator
  &:before {
    position: absolute;
    content: "";
    height: 0.75rem;
    width: 0.75rem;
    left: 3px;
    bottom: 2px;
    background-color: var(--switch-foreground);
    transition: $transition-duration;
    border-radius: 50%;
  }
}

// checked state
input:checked + .switch--slider {
  background-color: var(--switch-checked-background);

  // toggle indicator
  &:before {
    background-color: var(--switch-checked-foreground);
    transition: $transition-duration;
  }
}

input:focus + .switch--slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .switch--slider:before {
  transform: translateX(14px);
}

.switch--label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
