@use "sass:map";

@use "~/theme" as theme;

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.switch--disabled {
  opacity: 0.6;
  pointer-events: none;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: map.get(theme.$theme, palette, switch, background);
  transition: 0.3s;
  border-radius: 20px;

  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: map.get(theme.$theme, palette, switch, background);
    transition: 0.3s;
    border-radius: 50%;
  }
}

input:checked + .switch-slider {
  background-color: map.get(theme.$theme, palette, switch, checked-background);
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px map.get(theme.$theme, palette, blue);
}

input:checked + .switch-slider:before {
  transform: translateX(20px);
}

.switch-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
