@mixin icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--icon-button-hover-background);
  }
}

.icon-btn--primary {
  @include icon-btn;
}

.icon-btn--secondary {
  @include icon-btn;

  border: 1px solid var(--icon-button-border);
  color: var(--icon-button-foreground);
}

.icon-btn--outlined {
  @include icon-btn;

  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
}
