.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: rgba(219, 197, 123, 0.233);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
