@use "sass:map";
@use "~/theme" as theme;

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 75px;
  height: 100%;
  padding: 1rem;
  background: map.get(theme.$theme, palette, black);
}
