.input--wrapper {
  display: contents;

  .input--label {
    font-family: var(--typography-label-font-family);
    font-size: var(--typography-label-font-size);
    font-weight: var(--typography-label-font-weight);
    line-height: var(--typography-label-line-height);
    color: var(--label-foreground);
    text-transform: uppercase;
  }

  .input--field {
    font-family: var(--typography-input-font-family);
    font-size: var(--typography-input-font-size);
    font-weight: var(--typography-input-font-weight);
    line-height: var(--typography-input-line-height);
    color: var(--input-foreground);
    height: 3rem;
    padding: 0.5rem 1rem;
    background-color: var(--input-background);
    border: none;
    border-radius: var(--geometry-border-radius);

    &::placeholder {
      color: var(--input-placeholder);
    }

    *:focus-visible {
      outline: none;
    }
  }

  &:focus-visible {
    outline: none;
  }
}
