@use "sass:map";
@use "sass:color";

// color units
$black: #1e1e1e;
$white: #f0f0f0;
$dark-grey: #2d2d2d;
$grey: #808080;
$blue: #1868c4;
$purple: #a13b88;
$orange: #ffba00fc;
$red: #a02a2a;

$palette: (
  black: $black,
  white: $white,
  dark-grey: $dark-grey,
  grey: $grey,
  blue: $blue,
  purple: $purple,
  orange: $orange,
  red: $red,
  primary: $blue,
  secondary: $purple,
  background: $black,
  foreground: $white,
  input: (
    background: $dark-grey,
    foreground: $white,
    border: $dark-grey
  ),
  label: (
    foreground: $grey
  ),
  info: $blue,
  warning: $orange,
  error: $red
);
