@use "sass:map";
@use "sass:color";

$base: (
  primary: #1868c4,
  secondary: #a13b88,
  background: #1e1e1e,
  foreground: #f0f0f0
);

$palette: (
  primary: #1868c4,
  secondary: #a13b88,
  background: #1e1e1e,
  foreground: #f0f0f0,
  input: (
    background: #2d2d2d,
    foreground: map.get($base, foreground),
    border: color.scale(map.get($base, background), $lightness: -10%)
  ),
  info: #3178c6,
  warning: #c5b415,
  error: #a02a2a
);
