@use "sass:map";
@use "sass:color";

// color units
$black: #1e1e1e;
$white: #f0f0f0;
$dark-grey: #2d2d2d;
$grey: #808080;
$blue: #1868c4;
$purple: #a13b88;
$orange: #ffba00fc;
$red: #a02a2a;

$palette: (
  black: $black,
  white: $white,
  dark-grey: $dark-grey,
  grey: $grey,
  blue: $blue,
  purple: $purple,
  orange: $orange,
  red: $red,
  primary: $blue,
  primary-hover: color.scale($blue, $lightness: 40%),
  secondary: $purple,
  background: $black,
  foreground: $white,
  border: $dark-grey,
  input: (
    foreground: $white,
    background: $dark-grey,
    border: $dark-grey,
    placeholder: $grey
  ),
  label: (
    foreground: $grey
  ),
  icon-button: (
    foreground: $white,
    background: none,
    border: $dark-grey,
    hover-background: color.scale($dark-grey, $lightness: 10%),
    focus-background: color.scale($dark-grey, $lightness: -10%)
  ),
  switch: (
    foreground: $grey,
    background: $dark-grey,
    checked-foreground: $dark-grey,
    checked-background: $orange,
    border: $dark-grey
  ),
  info: $blue,
  warning: $orange,
  error: $red
);
