@use "sass:map";
@use "./colors" as colors;
@use "./typography" as typography;

$theme: (
  palette: colors.$palette,
  typography: typography.$typography,
  geometry: (
    border-radius: 6px
  )
);
