@use "sass:map";
@use "./colors" as colors;

$typography: (
  title: (
    font-family: "Open Sans, Tahoma, Geneva, Verdana, sans-serif",
    font-size: 1.5rem,
    line-height: 1.2,
    font-weight: bold,
    color: map.get(colors.$palette, heading-color)
  ),
  body: (
    font-family: "Open Sans, Tahoma, Geneva, Verdana, sans-serif",
    font-size: 0.5rem,
    line-height: 1.5,
    font-weight: normal,
    color: map.get(colors.$palette, foreground)
  ),
  button: (
    font-family: "Nunito Sans, Courier New, monospace",
    font-size: 0.5rem,
    line-height: 1.2,
    font-weight: normal,
    color: map.get(colors.$palette, foreground)
  ),
  input: (
    font-family: "Nunito Sans, Courier New, monospace",
    font-size: 0.825em,
    line-height: 1.2,
    font-weight: normal,
    color: map.get(colors.$palette, input-foreground)
  )
);
