@use "sass:map";
@use "sass:meta";
@use "./theme" as theme;

@mixin generate-variables($map, $prefix: "") {
  @each $key, $value in $map {
    $key-str: $key + "";
    $name: if($prefix == "", $key-str, "#{$prefix}-#{$key-str}");

    @if meta.type-of($value) == "map" {
      @include generate-variables($value, $name);
    } @else {
      --#{$name}: #{$value};
    }
  }
}

:root {
  @include generate-variables(map.get(theme.$theme, palette));
  @include generate-variables(map.get(theme.$theme, typography), "typography");
  @include generate-variables(map.get(theme.$theme, geometry), "geometry");
}
