* {
  box-sizing: border-box;
}

.invert-ide--dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;

  .invert-ide--dashboard-page {
    display: flex;
    flex: 1;
  }

  .invert-ide--dashboard-page-content {
    flex: 1;
  }
}
