* {
  box-sizing: border-box;
}

.invert-ide--dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--surface-base);
  position: relative;
  overflow: hidden;

  .invert-ide--dashboard-page {
    display: flex;
    flex: 1;
    position: relative;
  }

  .invert-ide--dashboard-page-content {
    flex: 1;
    display: flex;
    position: relative;

    > * {
      animation: page-reveal 180ms ease-out;
    }
  }
}

@keyframes page-reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
