.script-editor--editor-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin: 1rem;
  overflow-y: auto;

  .script-editor--editor-container {
    display: flex;
    flex: 1;
    gap: 1rem;

    .script-editor--code-editor {
      flex: 1;
      overflow: hidden;
    }
  }
}
